{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	{% block header %}
		{% include 'partials/header.html.twig' %}
	{% endblock %}
	<h1 class="h1">Bienvenue sur l'application de recettes - Symfony</h1>
	<p class="container-home">
		Bienvenue sur notre application de recettes, l'outil parfait pour les passionnés de cuisine ! Créez facilement des recettes en utilisant les ingrédients que vous avez à disposition. Partagez vos créations avec notre communauté culinaire pour échanger des idées et découvrir de nouvelles inspirations, ou conservez vos recettes préférées en mode privé. Que vous soyez novice en cuisine ou un chef expérimenté, notre application vous aide à explorer et à apprécier l'art de la cuisine.<span>
			Commencez votre aventure culinaire avec nous dès aujourd'hui !</span>
	</p>
	<hr>
	<p class="sous-container">Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application</p>
	<button>Inscription</button>
{% endblock %}
